<div class="col-md-4 offset-md-4">

<h1 class= "my-5">Edit <%= @painting.name %>:</h1>

<div style= "width: 300px">
<%= simple_form_for @painting do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :name %>
    <%= f.input :dimensions %>
    <%= f.input :painter %>
    <%= f.input :category %>
    <%= f.input :location %>
    <%= f.input :price_per_day %>
    <%= f.button :submit, 'Save', class: "btn btn-primary" %>
  <%= link_to 'Cancel', paintings_path, class: 'btn btn-secondary my-3' %>
<% end %>
</div>

</div>
