<div class="p-4">

<h1>Edit <%= @painting.name %></h1>
<%= link_to 'Cancel', painting_path(@painting), class: 'btn btn-secondary my-3' %>

<%= simple_form_for @painting do |f| %>
    <%= f.input :name %>
    <%= f.input :dimensions %>
    <%= f.input :painter %>
    <%= f.input :category %>
    <%= f.input :location %>
    <%= f.input :price_per_day %>
    <%= f.button :submit, 'Save', class: "btn btn-primary" %>
  <% end %>

</div>
