<h1>Paintings for rent:</h1>

<% @paintings.each do |painting| %>
  <%= link_to painting_path(painting), class: "painting" do%>
    <h2><%=painting.name%></h2>
    <ul>
      <li>Artist: <%=painting.painter%></li>
      <li><%=painting.dimensions%></li>
      <li>$<%=painting.price_per_day%> per day</li>
    </ul>
  <%end%>
<% end %>
