<div class="p-4">

<h1 class="mb-5">Paintings for rent</h1>

<p class="mb-4"><%= link_to 'Add a painting', new_painting_path, class: 'btn-lg btn-success mb-5' %></p>

  <div class="flex-container">
        <div class="flex-item cards">
      <% @paintings.each do |painting| %>
        <%= link_to painting_path(painting), class: "card-product" do %>
        <%= cl_image_tag painting.photo.key, height: 300, width: 400, crop: :fill %>

          <ul class="card-product-infos">
            <li><h2><%= painting.name %></h2></li>
            <li><%= painting.painter %></li>
            <li><%= painting.dimensions %></li>
            <li>$<%= painting.price_per_day %> per day</li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
