<div class="p-4">

<h1 class="mb-5">Add a painting:</h1>

<%= simple_form_for(@painting) do |f| %>
    <%= f.input :name, label: "Name of painting", placeholder: "example: Starry Night" %>
    <%= f.input :dimensions, label: "Dimensions (in cm)", placeholder: "74 cm x 92 cm" %>
    <%= f.input :painter, label: "Artist", placeholder: "Van Gogh" %>
    <%= f.input :category, placeholder: "Impressionism, Modern Art..." %>
    <%= f.input :location, placeholder: "City name" %>
    <%= f.input :price_per_day, placeholder: "Price in canadian dollars" %>
    <%= f.button :submit, 'Save', class: "btn btn-primary mt-3"%>
  <% end %>

</div>
