<div class="p-5">

<h1 class= "mb-4"><%= link_to '< Home', paintings_path, class: 'btn btn-secondary ml-2 mr-4 mb-1' %><%= @painting.name %></h1>

  <div class="flex-container">
  <div class="card-painting">
    <div class="flex-container justify-content pr-4" style="width: 900px">
      <%= cl_image_tag url_for(@painting.photo), height: 300, width: 400, crop: :fill, class: "pl-4" %>
      <ul>
        <li><i class="fas fa-palette"></i> Painter:<span style="color: gray"> <%= @painting.painter %></span></li>
        <li><i class="fas fa-user"></i> Owner of painting:<span style="color: gray">
          <%= @painting.user.first_name.capitalize + ' ' + @painting.user.last_name.first.upcase + '.'%></span></li>
        <li><i class="fas fa-tape"></i> Dimensions:<span style="color: gray"> <%= @painting.dimensions %></span></li>
        <li><i class="fas fa-copyright"></i> Category:<span style="color: gray"> <%= @painting.category %></span></li>
        <li><i class="fas fa-tag"></i> Price per day:<span style="color: gray"> $<%= @painting.price_per_day %></span></li>
        <li><i class="fas fa-map-marker-alt mb-5"></i> Location:<span style="color: gray"> <%= @painting.location %></span></li>
        <li class="ml-5">
          <div class="d-flex justify-content-between align-items-center">
       <% if @painting.user != current_user %>
        <%= link_to "Rent this painting", new_painting_request_path(@painting), class: "btn btn-primary" %>
        <%= link_to "Write a review", new_painting_review_path(@painting), class: "btn btn-secondary ml-2" %>
      <% end %>
      <% if policy(@painting).edit? %>
        <%= link_to 'edit', edit_painting_path(@painting), class: 'btn btn-secondary ml-5' %>
      <% end %>
      <% if policy(@painting).delete? %>
        <%= link_to 'delete', delete_painting_path(@painting), class: 'btn btn-secondary ml-5' %>
      <% end %>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mt-4 ml-3">
  <h2 class="border-bottom w-25 py-3">Reviews:</h2>
  <ul class="list-unstyled">
    <% @painting.reviews.each do |review| %>
      <li class= "border-bottom w-25 py-3">
      <% case review.rating %>
        <% when 0 %>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <% when 1 %>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <% when 2 %>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <% when 3 %>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <% when 4 %>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <% when 5 %>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      <% end %><span class="text-secondary">
      - "<%= review.content %>"</span></li>
    <% end %>
  </ul>
</div>
</div>
