<div class="p-4">
<h1><%= @painting.name %></h1>
<%= link_to 'Back', paintings_path, class: 'btn btn-secondary my-3' %></p>

<div class="card-painting">
  <%= cl_image_tag @painting.photo.key, height: 300, width: 400, crop: :fill %>
  <ul>
    <li class="mt-3"><strong>Dimensions:</strong> <%= @painting.dimensions %></li>
    <li><strong>Painter: </strong><%= @painting.painter %></li>
    <li><strong>Category:</strong> <%= @painting.category %></li>
    <li><strong>Location:</strong> <%= @painting.location %></li>
    <li><strong>Price per day:</strong> $<%= @painting.price_per_day %></li>
    <li><%= link_to "Rent this painting", new_painting_request_path(@painting), class: "btn btn-success my-3" %></li>
  </ul>
</div>

<%= link_to 'Edit', edit_painting_path(@painting), class: 'btn btn-primary mt-3' %>
<%= link_to 'Delete', delete_painting_path(@painting), class: 'btn btn-warning mt-3' %>

<h2>Reviews:</h2>

<ul class="list-unstyled">
  <% @painting.reviews.each do |review| %>
    <li class="my-3">
    <% case review.rating %>
      <% when 0 %>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 1 %>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 2 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 3 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <% when 4 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <% when 5 %>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    <% end %><span class="text-secondary">
    <%= " - \"" + review.content %>"</span></li>
  <% end %>
</ul>
<p><%= link_to "Write a review", new_painting_review_path(@painting), class: "btn btn-success mt-4" %></p>
