<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Incoming requests:</h1>
      <ul class="list-group">
        <% @requests.each do |request|%>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to request_path(request) do %>
          <%= request.painting.name %>
          <% end %>
          <%= request.user.email %> <%= request.start_date %> - <%= request.end_date %> -
      <% if request.status == "Pending..." %>
        <div class="d-flex justify-content align-items-center">
        <%= form_for request, url: update_request_path(request), method: :patch do |f| %>
          <%= f.hidden_field :status, value: "Accept" %>
          <%= f.submit 'Accept', class: "btn btn-success" %>
        <% end %>
        <%= form_for request, url: update_request_path(request), method: :patch do |f| %>
          <%= f.hidden_field :status, value: "Decline" %>
          <%= f.submit 'Decline', class: "btn btn-danger my-3 ml-3" %>
        <% end %>
        </div>
      <% else %>
        <%= request.status %>
      <% end %>
    <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
