<div class= "p-5">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="mb-4">Outgoing requests:</h1>
      <div style="background: white" class="rounded">
    <table class="table table-hover">
        <thead>
          <tr>
           <th scope="col">Painting</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Status</th>
           </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
          <tr>
            <td>
              <%= link_to request_path(request) do %>
                <%= request.painting.name %>
              <% end %>
            </td>
            <td>
              <%= request.start_date %>
            </td>
            <td>
              <%= request.end_date %>
            </td>
            <td>
              <% if request.pending? %>
                <div class="d-flex justify-content align-items-center">
                <%= form_for request, url: update_request_path(request), method: :patch do |f| %>
                  <%= f.hidden_field :status, value: "Cancelled" %>
                  <%= f.submit 'Cancel', class: "btn btn-danger my-3 ml-3" %>
                <% end %>
                </div>
              <% elsif request.accepted? %>
                    <span class="green-text font-weight-bold"><%= request.status %></span>
              <% elsif request.declined? or request.cancelled? %>
                    <span class="red-text font-weight-bold"><%= request.status %></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<p><%= link_to 'Back', paintings_path, class: 'btn btn-secondary my-3' %></p>
    </div>
  </div>
</div>
</div>
</div>
