<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <h1>Outgoing requests:</h1>
      <ul class="list-group">
        <% @requests.each do |request|%>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to request_path(request) do %>
              <%= request.painting.name %>
            <% end %>
            <%= request.start_date %> <%= request.end_date %>
         <%= request.status %></li><% end %>
      </ul>
    </div>
  </div>
</div>
