<div class="p-5">

<h1 class= "mb-4">
  <% if @request.user == current_user %>
    <%= link_to '<⠀Back', outgoing_requests_path, class: 'btn btn-secondary ml-2 mr-4 mb-1' %>
  <% else %>
    <%= link_to '<⠀Back', incoming_requests_path, class: 'btn btn-secondary ml-2 mr-4 mb-1' %>
  <% end %>
  Request to rent <%= @request.painting.name %></h1>

<div class="flex-container">
  <div class="card-painting">
    <div class="flex-container justify-content pr-4" style="width: 950px">
      <%= cl_image_tag @request.painting.photo.key, height: 300, width: 400, crop: :fill, class: "pl-4" %>
      <ul>
        <li><i class="fas fa-palette"></i> Owner of painting:<span style="color: gray"> <%= @request.painting.user.email %></span></li>
        <li><i class="fa fa-bell"></i> For rent to:<span style="color: gray"> <%= @request.user.email %></span></li>
        <li><i class="far fa-calendar-alt"></i> Start date:<span style="color: gray"> <%= @request.start_date %></span></li>
        <li><i class="fas fa-calendar-alt"></i> End date:<span style="color: gray"> <%= @request.end_date %></span></li>
        <li><i class="fas fa-tag"></i> Price per day:<span style="color: gray"> $<%= @request.painting.price_per_day %></span></li>
        <li><i class="fas fa-map-marker-alt mb-5"></i> Location:<span style="color: gray"> <%= @request.painting.location %></span></li>
        <li class="ml-5">

        <div class="d-flex justify-content-between align-items-center">
          <%= link_to 'View Painting Info', painting_path(@request.painting), class: 'btn btn-secondary mr-5' %>

          <%# if policy(@request).incoming? %>
            <% if @request.pending? %>
              <%= form_for @request, url: update_request_path(@request), method: :patch do |f| %>
                <%= f.hidden_field :status, value: "Accepted" %>
                <%= f.submit 'Accept', class: "btn btn-success mr-3" %>
              <% end %>
              <%= form_for @request, url: update_request_path(@request), method: :patch do |f| %>
                <%= f.hidden_field :status, value: "Declined" %>
                <%= f.submit 'Decline', class: "btn btn-danger mr-3" %>
              <% end %>
            <% elsif @request.accepted? %>
                <span class="green-text font-weight-bold"><%= @request.status %></span>
            <% elsif @request.declined? %>
                <span class="red-text font-weight-bold"><%= @request.status %></span>
            <% elsif @request.status == "Pending..." %>
                <span style="color: gray" class="font-weight-bold"><%= @request.status %></span>
            <% end %></li>
          <%# end %>
        </div>
      </ul>
    </div>
  </div>
</div>
